---
title: Post Number 1 - US History
description:  These are the things that I dont understand why it is even liek this, how it is even okay, things that piss me off, things that irritate the fuck out of me. You knwo shit that just fucking pisses me off.
date: 2022-01-05
scheduled: 2022-01-05
tags:
  - another-tag
layout: layouts/home.njk
---

<p>
  This is my fucking space and my fucking site if you don't like my opinion thats fine ill even humor your point but don't be an ass. And teh word s just because or thats just the way it is , arent facts thats pussy shit. Dont be a pussy if you cant argue my logic don't fucking try and argue.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
